<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_berserk_settings">
        <observer name="berserk_settings" instance="Redgiant\Berserk\Observer\SaveBerserkSettings"/>
    </event>
    <event name="admin_system_config_changed_section_berserk_design">
        <observer name="berserk_design" instance="Redgiant\Berserk\Observer\SaveBerserkDesign"/>
    </event>
</config>