<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<ul class="opc-progress-bar steps__wrapper-checkers">
    <!-- ko foreach: { data: steps().sort(sortItems), as: 'item' } -->
        <li class="opc-progress-bar-item " data-bind="css: item.isVisible() ? '_active' : ($parent.isProcessed(item) ? '_complete' : '')">
            <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot" >
                <span class="before"></span>
                <span class="after"></span>
                 <!--ko text: $index() + 1 --><!--/ko-->
                 
            </span>
            <p data-bind="i18n: item.title, click: $parent.navigateTo" class="font__family-montserrat font__size-15 steps__title title"></p>
        </li>
    <!-- /ko -->
    <div class="steps__progress" style="width: 0%;"></div>
</ul>
