<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="rg_dailydeals" frontName="rg_dailydeals">
            <module name="Redgiant_Dailydeals" before="Magento_Backend"/>
        </route>
    </router>
</config>
